.user-card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-card img {
  height: 200px;
  border-radius: 20px;
}

ul {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align:center;
}

.user-profiles-headline{
  margin-top: 30px;
  margin-bottom: 30px;
  /* font-family:'Times New Roman', Times, serif; */
  font-size: 45px;
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  
}
.cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
}
.cell:nth-child(3n) {
  background-color: #F00;
}
