/* body {
  width: 800px;
} */

ul {
  display: flex;
}

.host-event-btn{
  margin-top: 10px;
  margin-left: 40px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  /* margin-top: 10px; */
}

.event-filters{
  margin-top: 50px;
  margin-left: 40px;
}

select {
  height: 35px;
  font-size: large;
}

.zhu-front-page {
  max-width: 100%;
  height: auto;
}

#genre{
  margin-left: 10px;
}

#size{
  margin-left: 10px;
}

#reset {
  margin-left: 10px;
}

.home-page-header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.event-card-container {
  max-width: 100%;
  height: auto;
}

/* .upcoming-events-toolbar {
  display: flex;
} */

/* .host-event-btn {
  align-items: center;
} */

/* .event-filters {
  display: inline-block;
} */